body {
  margin: 0;
  padding: 0;
}

#head {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

#title {
  font-weight: bold;
  padding: 0 10px;
  background-color: #333;
  color: #eee;
}

.navi a {
  padding: 0 5px;
  text-decoration: none;
}

#imginfo {
  padding: 0 10px;
}

#imgarea {
  width: auto;
}

#imgarea img {
  max-width: 100%;
}