body {
  margin: 0;
  padding: 0;
  background-color: #222;
}

.hoverbar {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  text-align: right;
}

.title {
  font-weight: bold;
  padding: 2px 10px;
  background-color: #556;
  color: #fff;
}

.title a {
  color: inherit;
  text-decoration: inherit;
}

.sidebar {
  margin: 0;
  padding: 10px;
  background-color: #445;
  color: #fff;
}

.sidebar a {
  text-decoration: none;
  color: #8f8;
}

.sidebar a:hover {
  background-color: #4a4;
  color: #222;
}

#imginfo {
}

.navi,
#linksarea {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}

#linksarea .show {
  background-color: #afa;
  color: #222;
}

#imgarea {
  width: auto;
  height: auto;
}

#imgarea img {
  max-width: 100%;
  max-height: 100%;
}

#imgarea a {
  display: none;
}

#imgarea .show {
  display: block;
}