doctype html
html(lang="en")
  head
    title Instant Gallery
    meta(charset="utf-8")
    if cssSrc
      link(rel="stylesheet", type="text/css" href=cssSrc)
    else
      style!= igCss
    script(type="application/javascript")!= listJs
    script(type="application/javascript")!= igJs
    base(target="_blank")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h1(id='noimageswarning') No images found
    div(id="topbar")
      ul
        li
          a(href="#", class="toggle_sidebar") &#9776; 
        li
          a(href="http://github.com/jkpl/instantgallery")
            span(class="short_name") IG
            span(class="long_name") Instant Gallery
        li
          span(id="imginfo")
        li
          a(href="#", class="previous_image", title="Previous (left arrow)") &#9664;
        li
          a(href="#", class="next_image", title="Next (right arrow)") &#9654;
        li
          a(href="#", class="toggle_zoom", title="Zoom (Z)") &#128270;
    div(id="sidebar")
      ul(id="linksarea")
    div(id="imgarea")
